#image-picker {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;

    .slider-container {
        position: relative;
        width: 80%;

    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

/* Mobile */
#image-picker.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    #image-picker-dp {
        width: 100%;
        align-content: center;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;

        div.react-datepicker-wrapper {
            margin-left: auto!important;
            margin-right: auto!important;
            align-self: center;
            justify-self: center;
        }
    }

    .slider-container {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}