.hamburger {
    top: 15px;
    left: 15px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 150px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: left 0.3s ease;
    z-index: 1000;
    flex-direction: column;
    display: flex;
}

.sidebar.open {
    left: 0;
}

.sidebar .section-title:first-child {
    margin-top: 0;
}
.sidebar .section-title {
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    font: 24px Arial, sans-serif;
    color: darkgray;
    background-color: #444;

}
.sidebar .menu-item {
    width: 100%;
    height: 30px;
    padding: 15px;
    padding-Left: 30px;
    border-: 1px solid #444;
    border-bottom: 1px solid #444;
    cursor: pointer;
    font: 24px Arial, sans-serif;
    color: white;
}
.sidebar .menu-item.bottom {
    border-bottom: none;
}

.sidebar .menu-item:hover {
    background-color: #555;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}