.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    margin-top: 40px;
    position: relative;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #014787;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    /*z-index: 2;*/
}

.slider-dots {
    position: absolute;
    width: 100%;
    top: 5px;
    height: 40px;
    pointer-events: none;
}

.dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    transform: translateX(-50%);
    /*z-index: 1;*/
}

.dot.active {
    background: #014787;
    width: 15px;
    height: 15px;
    .dot-label {
        display: inline;
        position: absolute;
        top: -30px;
        left: -5px;
        background: #014787;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
    }
}

.dot-label {
    display: none;
}

.selected-time {
    display: inline;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
